

@font-face {
    font-family: "Avenir Next Condensed Medium";
    src: url('/fonts/Avenir Next Condensed Medium.eot');
    url('/fonts/Avenir Next Condensed Medium.woff2') format('woff2'),
    url('/fonts/Avenir Next Condensed Medium.woff') format('woff'),
    url('/fonts/Avenir Next Condensed Medium.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
}



/* NAVBAR */

nav {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 35px;
    width: 100%;
    background-color: #9999a3;
    border-bottom: 0;
}


#logo {
    position: absolute;
    z-index: 999;
    left: 50%;

}

img {
    height: 70px;
}


.inner_logo {
    transition: all 0.5s;
    border-radius: 90px;
    left: -50%;
    padding: 10px 15px;
    position: relative;
    background-color: #9999a3;
}

/* SPLIT 2 PAGES */

.left, .right {

    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.left {
    background-image: url("../images/error-420-2qTmMA0AgwM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: auto;


}

.right {
    background: url("../images/manuel-nageli-NsgsQjHA1mM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}


.row {
    display: flex;
    flex-wrap: nowrap;
}

@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left {
        height: 50vh;
    }

    .right {
        height: 50vh;
    }
}

/* Portrait and Landscape */
@media screen
and (min-device-width: 375px)
and (max-device-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left {
        height: 50vh;
    }

    .right {
        height: 50vh;
    }
}

@media (max-width: 1024px) {
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left {
        height: 50vh;
    }

    .right {
        height: 50vh;
    }
}

@media (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left {
        height: 50vh;
    }

    .right {
        height: 50vh;
    }
}


/* CONTENT */

.container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .container1 {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: flex-start;
        width: 75%;


    }

}

@media screen
and (min-device-width: 375px)
and (max-device-width: 768px) {
    .container1 {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: flex-start;
        width: 75%;


    }

}

@media (max-width: 1024px) {
    .container1 {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: flex-start;
        width: 75%;


    }
}

@media (max-width: 768px) {
    .container1 {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: flex-start;
        width: 75%;


    }
}


.container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .container2 {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: flex-end;
        width: 75%;

    }
}

@media screen
and (min-device-width: 375px)
and (max-device-width: 768px) {
    .container2 {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: flex-end;
        width: 75%;

    }
}

@media (max-width: 1024px) {
    .container2 {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: flex-end;
        width: 75%;

    }
}

@media (max-width: 768px) {
    .container2 {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: flex-end;
        width: 75%;

    }
}

h1 {
    font-family: "Avenir Next Condensed Medium", sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
    transform: scale(1, 1.1);
    -webkit-transform: scale(1, 1.1); /* Safari and Chrome */
    -moz-transform: scale(1, 1.1); /* Firefox */
    -ms-transform: scale(1, 1.1); /* IE 9+ */
    -o-transform: scale(1, 1.1); /* Opera */
}

@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    h1 {

        margin-bottom: 10px;
        text-align: center;
    }

}

@media screen
and (min-device-width: 375px)
and (max-device-width: 812px) {
    h1 {

        margin-bottom: 10px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    h1 {

        margin-bottom: 10px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    h1 {

        margin-bottom: 10px;
        text-align: center;
    }
}

.slogan {
    font-family: "Avenir Next Condensed Medium", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: right;
}

@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .slogan {

        margin-bottom: 10px;
        text-align: left;
    }

}

@media screen
and (min-device-width: 375px)
and (max-device-width: 768px) {
    .slogan {

        margin-bottom: 10px;
        text-align: left;
    }
}

@media (max-width: 1024px) {
    .slogan {

        margin-bottom: 10px;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .slogan {

        margin-bottom: 10px;
        text-align: left;
    }
}

.slogan2 {
    font-family: "Avenir Next Condensed Medium", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 20px;

}

@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .slogan2 {

        margin-bottom: 10px;
        text-align: right;
    }

}

@media screen
and (min-device-width: 375px)
and (max-device-width: 768px) {
    .slogan2 {

        margin-bottom: 10px;
        text-align: right;
    }
}

@media (max-width: 1024px) {
    .slogan2 {

        margin-bottom: 10px;
        text-align: right;
    }
}

@media (max-width: 768px) {
    .slogan2 {

        margin-bottom: 10px;
        text-align: right;
    }
}

#btn-tripendy {
    background-color: #9999a3;
    color: white;
    padding: 5px 40px;
    font-size: 25px;
    font-weight: 900;

    text-transform: uppercase;
    border: 0;
    font-family: "Avenir Next Condensed Medium", sans-serif;
}

@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    #btn-tripendy {
        padding: 5px 20px;

    }

}

@media screen
and (min-device-width: 375px)
and (max-device-width: 768px) {
    #btn-tripendy {
        padding: 5px 20px;

    }
}

@media (max-width: 1024px) {
    #btn-tripendy {
        padding: 5px 20px;

    }
}

@media (max-width: 768px) {
    #btn-tripendy {
        padding: 5px 20px;

    }
}

#open-popup {
    background-color: #AF3328;
    color: white;
    padding: 5px 40px;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    border: 0;
    font-family: "Avenir Next Condensed Medium", sans-serif;
}

@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    #open-popup {
        padding: 5px 20px;

    }
}

@media (max-width: 1024px) {
    #open-popup {
        padding: 5px 20px;

    }
}

@media (max-width: 768px) {
    #open-popup {
        padding: 5px 20px;

    }
}

@media screen
and (min-device-width: 375px)
and (max-device-width: 768px) {
    #open-popup {
        padding: 5px 20px;

    }
}

.modal-content {
    font-family: "opensans", sans-serif;
}

.modal-header {
    background-color: #AF3328;
    display: flex;
    justify-content: center;
}


.modal-title {
    color: white;
    font-size: 25px;
    width: 100%;
    margin-left: 30px;
    text-align: center;
}

#get-noticed {
    color: #AF3328;
    font-size: 18px;
    font-weight: 600;

}

.mc-field-group {
    margin: 10px 0;
}

#mce-FNAME {
    margin-left: 60px;
}
#mce-LNAME {
margin-left: 45px;
}


.gdprRequired {
    display: flex;
    flex-direction: column;
}

.av-checkbox {
    margin-right: 10px;
}

#mc-embedded-subscribe {
    background-color: #AF3328;
    color: white;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    font-family: "opensans", sans-serif;

}
div.clear {
    display: flex;
    justify-content: center;
}

#mkt-permissions {
    color: #AF3328;
    font-size: 18px;
    font-weight: 600;
}








